@import url(./game.css);
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
	--borda: 5px solid var(--cor_principal);
}

.conteudo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.conteudo__header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.none {
	display: none;
}

.jogo_da_velha {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
}

.linha {
	display: flex;
}

.quadrado {
	width: 8rem;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
	font-size: 300%;
	font-weight: 800;
	text-align: center;
	color: rgb(12, 135, 250);
	font-family: "Lilita One", Impact, Haettenschweiler, "Arial Narrow Bold",
		sans-serif;
	cursor: pointer;
	z-index: 0;
}

.quadrado > span {
	visibility: hidden;
}

.border-t {
	border-top: var(--borda);
}

.border-r {
	border-right: var(--borda);
}

.border-l {
	border-left: var(--borda);
}

.border-b {
	border-bottom: var(--borda);
}

.traco_vitorioso {
	position: relative;
	background-color: var(--cor_principal);
	width: 24rem;
	height: 10px;
	display: none;
}

.tv-diagonal {
	width: 30rem;
	top: 12rem;
}

.tv-vertical {
	top: 12rem;
	rotate: 90deg;
}

#tv-diagonal_1 {
	rotate: 45deg;
	z-index: 5;
}

#tv-horizontal_1 {
	top: 4rem;
	z-index: 10;
}

#tv-vertical_1 {
	right: 8.25rem;
	z-index: 15;
}

#tv-diagonal_2 {
	rotate: 135deg;
	z-index: 20;
}

#tv-horizontal_2 {
	top: 12rem;
	z-index: 25;
}

#tv-vertical_2 {
     left: 1px;
	z-index: 30;
}

#tv-horizontal_3 {
     top: 20.5rem;
	z-index: 35;
}

#tv-vertical_3 {
	left: 8rem;
	z-index: 40;
}
